*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 85px 0px 0px 0px;
    padding: 0px;
    
}

#adverImage{
    height: 300px;
    width: 500px;
}
.btn_toggle{
    margin: 0px 50px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 40px;
    background-color: rgb(80, 188, 254);
    color: rgb(255, 255, 255);
} 
.btn_toggle:hover{
    background-color: rgb(80, 147, 254);
    cursor: pointer;
}  
.btn_toggle:active{
    transform: scale(0.98);
}
#div_001{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px auto;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-image: url(./images/yz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#tb_001{
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse; 
    margin: 0px auto;
    width: 600px;
    font-size: 18px;
}
td{
    border: 2px solid rgb(0, 0, 0);
    padding: 4px 5px;
    width: 125px;
    text-align: center;   
}
th{
    border: 2px solid rgb(0, 0, 0);
    padding: 4px 5px;
    width: 125px;
    text-align: center;   
} 
button{
    margin: 0px 5px;
}
#navi_bar{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 999;
}